@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#text_size-toolbar toolbarbutton {
	list-style-image: url(chrome://text_size/skin/buttons.png);
}

#text_size-toolbar toolbarbutton#text_size-toolbar-increase {
	-moz-image-region: rect(0 23px 24px 0);
}

#text_size-toolbar toolbarbutton#text_size-toolbar-increase:hover {
	-moz-image-region: rect(24px 23px 48px 0);
}

toolbar[iconsize="small"] #text_size-toolbar toolbarbutton#text_size-toolbar-increase {
	-moz-image-region: rect(0 81px 16px 62px);
}

toolbar[iconsize="small"] #text_size-toolbar toolbarbutton#text_size-toolbar-increase:hover {
	-moz-image-region: rect(24px 81px 40px 62px);
}

#text_size-toolbar toolbarbutton#text_size-toolbar-decrease {
	-moz-image-region: rect(0 40px 24px 23px);
}

#text_size-toolbar toolbarbutton#text_size-toolbar-decrease:hover {
	-moz-image-region: rect(24px 40px 48px 23px);
}

toolbar[iconsize="small"] #text_size-toolbar toolbarbutton#text_size-toolbar-decrease {
	-moz-image-region: rect(0 96px 16px 81px);
}

toolbar[iconsize="small"] #text_size-toolbar toolbarbutton#text_size-toolbar-decrease:hover {
	-moz-image-region: rect(24px 96px 40px 81px);
}

#text_size-toolbar toolbarbutton#text_size-toolbar-reset {
	-moz-image-region: rect(0 62px 24px 40px);
}

#text_size-toolbar toolbarbutton#text_size-toolbar-reset:hover {
	-moz-image-region: rect(24px 62px 48px 40px);
}

toolbar[iconsize="small"] #text_size-toolbar toolbarbutton#text_size-toolbar-reset {
	-moz-image-region: rect(0 113px 16px 96px);
}

toolbar[iconsize="small"] #text_size-toolbar toolbarbutton#text_size-toolbar-reset:hover {
	-moz-image-region: rect(24px 113px 40px 96px);
}