<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="2.0">
    <name>NoDetour</name>
    <description>Changes links passed through redirection scripts (e.g. /cgi-bin/redirect.cgi?url=http://foo.com - often used for tracking click-throughs or forcing visitors through an intermediate adverts page) to point straight to the final URL. Based on my "link neutraliser" bookmarklet http://www.splintered.co.uk/experiments/48/</description>
    <author href="http://www.splintered.co.uk/" email="redux@splintered.co.uk">Patrick H. Lauke</author>
    <icon src="icon.png"/>
</widget>