@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#email_link-button, toolbar[iconsize="small"] #email_link-button {
	list-style-image: url(chrome://email_link/skin/buttons.png);
	-moz-image-region: rect(0 40px 16px 23px);
	margin: 0px !important;
	width: auto !important;
	height: auto !important;
}

#email_link-button:hover, toolbar[iconsize="small"] #email_link-button:hover {
	-moz-image-region: rect(24px 40px 40px 23px);
}