@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#delicious-post-toolbarbutton {
	list-style-image: url(chrome://deliciouspost/skin/buttons.png);
	-moz-image-region: rect(0 33px 24px 0);
}

#delicious-post-toolbarbutton:hover {
	-moz-image-region: rect(0 66px 24px 33px);
}

toolbar[iconsize="small"] #delicious-post-toolbarbutton {
	-moz-image-region: rect(0 88px 16px 66px);
}

toolbar[iconsize="small"] #delicious-post-toolbarbutton:hover {
	-moz-image-region: rect(0 110px 16px 88px);
}

dialog#delicious-post-dialog #delicious-post-dialog-buttons {
	-moz-box-pack: end;
}